<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="LitResLTD.litreswin10test" Publisher="CN=3B60AC7C-8BCD-4D97-811A-96A9685879C1" Version="1.1.18.0" />
  <mp:PhoneIdentity PhoneProductId="8a41bba4-68d1-47ba-9748-17dc204fc217" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>litres_win10test</DisplayName>
    <PublisherDisplayName>LitRes ltd.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10049.0" MaxVersionTested="10.0.10049.0" />
    <TargetDeviceFamily Name="Windows.Mobile" MinVersion="10.0.10049.0" MaxVersionTested="10.0.10049.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LitResReadW10.App">
      <uap:VisualElements DisplayName="litres_win10test" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="один клик до книг" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\StoreImages\24\read.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\StoreImages\read_71.png" ShortName="ЛитРес: Читай!" Square310x310Logo="Assets\StoreImages\read_310x310.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="userAccountInformation" />
  </Capabilities>
</Package>